In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# **Dataset**
1. Jester Dataset 1 contains 24983 rows and 101 columns.
2. Each row corresponds to a user.
3. First column is the number of jokes rated by that user.
4. The numbers refer to the ID's of the jokes in the Excel files.
5. Others are ratings for each joke. Ratings are in the range of -10 to 10. Value of 99 indicates Null, which is no rating.

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/zeitgeist-hash/CE888/main/Lab_4/jester-data-1.csv", header=None)
df

       0      1      2      3      4    ...    96     97     98     99     100
0       74  -7.82   8.79  -9.66  -8.16  ...  99.00  -5.63  99.00  99.00  99.00
1      100   4.08  -0.29   6.36   4.37  ...  -2.14   3.06   0.34  -4.32   1.07
2       49  99.00  99.00  99.00  99.00  ...  99.00  99.00  99.00  99.00  99.00
3       48  99.00   8.35  99.00  99.00  ...  99.00  99.00  99.00  99.00  99.00
4       91   8.50   4.61  -4.17  -5.39  ...   1.55   3.11   6.55   1.80   1.60
...    ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
24978  100   0.44   7.43   9.08   2.33  ...   9.03   6.55   8.69   8.79   7.43
24979   91   9.13  -8.16   8.59   9.08  ...  -8.20  -7.23  -8.59   9.13   8.45
24980   39  99.00  99.00  99.00  99.00  ...  99.00  99.00  99.00  99.00  99.00
24981   37  99.00  99.00  99.00  99.00  ...  99.00  99.00  99.00  99.00  99.00
24982   72   2.43   2.67  -3.98   4.27  ...  99.00  99.00  99.00  99.00  99.00

[24983 rows x 101 columns]

In [ ]:
df = df.loc[:, 1:]
arr = df.values
print(arr.shape)

(24983, 100)

In [ ]:
rated = np.where(arr!=99)
print(len(rated[0]), rated[1].shape)

1810455 (1810455,)

In [ ]:
df_joke = df
df_joke[df_joke==99] = np.nan
df_joke

        1     2     3     4     5     6    ...   95    96    97    98    99    100
0     -7.82  8.79 -9.66 -8.16 -7.52 -8.50  ...   NaN   NaN -5.63   NaN   NaN   NaN
1      4.08 -0.29  6.36  4.37 -2.38 -9.66  ... -0.19 -2.14  3.06  0.34 -4.32  1.07
2       NaN   NaN   NaN   NaN  9.03  9.27  ...   NaN   NaN   NaN   NaN   NaN   NaN
3       NaN  8.35   NaN   NaN  1.80  8.16  ...   NaN   NaN   NaN   NaN   NaN   NaN
4      8.50  4.61 -4.17 -5.39  1.36  1.60  ...  5.73  1.55  3.11  6.55  1.80  1.60
...     ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24978  0.44  7.43  9.08  2.33  3.20  6.75  ...  8.45  9.03  6.55  8.69  8.79  7.43
24979  9.13 -8.16  8.59  9.08  0.87 -8.93  ...  9.22 -8.20 -7.23 -8.59  9.13  8.45
24980   NaN   NaN   NaN   NaN -7.77   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
24981   NaN   NaN   NaN   NaN -9.71   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
24982  2.43  2.67 -3.98  4.27 -2.28  7.33  ...   NaN   NaN   NaN   NaN   NaN   NaN

[24983 rows x 100 columns]

In [ ]:
# Question 3
df_joke.iloc[:,:].mean().sort_values()

58   -3.833880
16   -3.104818
44   -2.111891
57   -1.990664
13   -1.762882
        ...
32    3.155988
27    3.189821
36    3.312500
89    3.574720
50    3.665085
Length: 100, dtype: float64

In [248]:
# Question 4
df_joke.iloc[11915, 38]

8.4

In [ ]:
def replace(orig, percentage=0.1):
  """
  Replaces 'percentage'% of the original values in 'orig' with 99's
  :param orig: original data array
  :param percentage: percentage of values to replace (0<percentage<1)
  """
  new_data = orig.copy()
  rated = np.where(arr!=99)
  n_rated = len(rated[0])
  idx = np.random.choice(n_rated, size=int(percentage*n_rated), replace=False)
  new_data[rated[0][idx], rated[1][idx]] = 99
  return new_data, (rated[0][idx], rated[1][idx])

In [ ]:
new_arr, idx = replace(arr, 0.1)

In [ ]:
arr[idx[0][0], idx[1][0]]

8.83

In [ ]:
new_arr[idx[0][0], idx[1][0]]

99.0

# **Latent Factor**

In [ ]:
#Set latent factors as 50
n_latent_factors = 50

user_ratings = new_arr

# Initialise as random values
latent_user_preferences = np.random.random((user_ratings.shape[0], n_latent_factors))
latent_item_features = np.random.random((user_ratings.shape[1], n_latent_factors))

In [ ]:
def predict_rating(user_id, item_id):
    """ Predict a rating given a user_id and an item_id.
    """
    user_preference = latent_user_preferences[user_id]
    item_preference = latent_item_features[item_id]
    return user_preference.dot(item_preference)


def train(user_id, item_id, rating, alpha=0.0001, weight_decay=0.1):
    
    #print item_id
    prediction_rating = predict_rating(user_id, item_id)
    err =  prediction_rating - rating
    #print err
    user_pref_values = latent_user_preferences[user_id][:]
    latent_user_preferences[user_id] -= alpha * err * (latent_item_features[item_id])
    latent_item_features[item_id] -= alpha * err * (user_pref_values)
    return err
    

def sgd(iterations):
    """ Iterate over all users and all items and train for 
        a certain number of iterations
    """
    for iteration in range(iterations):
        error = []
        for user_id in range(latent_user_preferences.shape[0]):
            for item_id in range(latent_item_features.shape[0]):
                rating = user_ratings[user_id][item_id]
                if (rating!=99):
                # if not np.isnan(rating):
                    err = train(user_id, item_id, rating)
                    error.append(err)
        mse = (np.array(error) ** 2).mean()   
        # if (iteration % 100) == 0:
        #     print('MSE ', iteration, ': ', mse)
        print('MSE ', iteration, ': ', mse)

In [ ]:
num_iter = 50
sgd(num_iter)

MSE  0 :  28.638563547765674
MSE  1 :  25.036577403845012
MSE  2 :  24.950843168405733
MSE  3 :  24.88232813862681
MSE  4 :  24.822793425183622
MSE  5 :  24.765265482877627
MSE  6 :  24.702795996820964
MSE  7 :  24.627318347994162
MSE  8 :  24.528461721204284
MSE  9 :  24.392325779340705
MSE  10 :  24.20048317843752
MSE  11 :  23.929975788875364
MSE  12 :  23.55580667700697
MSE  13 :  23.05791758616145
MSE  14 :  22.433372014292814
MSE  15 :  21.709528495516462
MSE  16 :  20.947186128613307
MSE  17 :  20.223739555739016
MSE  18 :  19.602706013196748
MSE  19 :  19.112016727293334
MSE  20 :  18.745335107225046
MSE  21 :  18.478260531883635
MSE  22 :  18.283609465275646
MSE  23 :  18.13889671858224
MSE  24 :  18.0277760161413
MSE  25 :  17.938983564781378
MSE  26 :  17.86486609593892
MSE  27 :  17.80019402804844
MSE  28 :  17.74134243893592
MSE  29 :  17.685755342889532
MSE  30 :  17.63160041546766
MSE  31 :  17.577546704181152
MSE  32 :  17.522621287937707
MSE  33 :  17.466116798607366
MSE  34 :  17.407531729205136
MSE  35 :  17.346531636180398
MSE  36 :  17.282923203997747
MSE  37 :  17.216635625769502
MSE  38 :  17.147705446230574
MSE  39 :  17.076262266546294
MSE  40 :  17.002513726939483
MSE  41 :  16.926729057932842
MSE  42 :  16.849221241769087
MSE  43 :  16.770328421351497
MSE  44 :  16.690395586358044
MSE  45 :  16.60975771927963
MSE  46 :  16.528725497595037
MSE  47 :  16.447574365263723
MSE  48 :  16.366537385628956
MSE  49 :  16.285801861703234

In [ ]:
def validation_check():
  error = []
  prediction = latent_user_preferences.dot(latent_item_features.T)
  for i in range(len(idx[0])):
    predicted_rating = prediction[idx[0][i]][idx[1][i]]
    actual_rating = arr[idx[0][i]][idx[1][i]]
    err = predicted_rating - actual_rating
    error.append(err)
  mse = (np.array(error) ** 2).mean()
  print('Validation MSE: ', mse)

In [ ]:
validation_check()

Validation MSE:  17.815538549236273

In [ ]:
# Creating new validation arrays from original data randomly again
for i in range(10):
  new_arr, idx = replace(arr, 0.1)
  validation_check()

Validation MSE:  16.284825032090804
Validation MSE:  16.43737996935927
Validation MSE:  16.31993557088579
Validation MSE:  16.431960569166325
Validation MSE:  16.46936076758466
Validation MSE:  16.341887194289257
Validation MSE:  16.405127686515147
Validation MSE:  16.41729826580208
Validation MSE:  16.32430044037324
Validation MSE:  16.50220766751229

# Results

In [ ]:
prediction = latent_user_preferences.dot(latent_item_features.T)

In [ ]:
# Prediction values on entire Test Dataset

values = [zip(df.values[i], prediction[i]) for i in range(prediction.shape[0])]
comparison_data = pd.DataFrame(values)
comparison_data.columns = df.columns

# For each data point, the number on the left is the original value from the dataset, the number on the right is the prediction
comparison_data

                                1    ...                          100
0      (-7.82, -3.7179174396851313)  ...    (99.0, -4.79978010556495)
1         (4.08, 3.778234904017037)  ...   (1.07, 3.4449941943591265)
2          (99.0, 7.50302027234397)  ...    (99.0, 8.303665795436045)
3       (99.0, -1.7253151033600107)  ...    (99.0, 4.242153097732272)
4          (8.5, 5.597794611522031)  ...     (1.6, 2.949521211835945)
...                             ...  ...                          ...
24978     (0.44, 0.686501131624364)  ...    (7.43, 4.509792621612896)
24979     (9.13, 5.277882323448673)  ...     (8.45, 1.12932584550283)
24980   (99.0, -1.1387275203608132)  ...  (99.0, -1.0321231406465323)
24981    (99.0, 0.1501923695440797)  ...  (99.0, -2.4856204701525164)
24982     (2.43, 3.288725637519855)  ...   (99.0, 3.6870479169923605)

[24983 rows x 100 columns]

In [ ]:
jokes_ratings = pd.DataFrame(prediction)
mean_idx = jokes_ratings.mean()
min_idx = mean_idx.idxmin()
max_idx = mean_idx.idxmax()
print('Worst Joke ID predicted: ', min_idx, '; Average Rating: ', mean_idx[min_idx])
print('Best Joke ID predicted: ', max_idx, '; Average Rating: ', mean_idx[max_idx])

Worst Joke ID predicted:  57 ; Average Rating:  -4.111693292049609
Best Joke ID predicted:  49 ; Average Rating:  3.521651851012798

# Movie Dataset

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df_items = pd.read_excel('/content/drive/MyDrive/CE888_Data Science and Decision Making/movies_latent_factors.xlsx', sheet_name='Items')
df_items

    Movie ID  ...  Factor15
0         11  ... -0.248806
1         12  ...  1.274993
2         13  ... -0.419092
3         14  ... -0.681191
4         22  ... -2.292566
..       ...  ...       ...
95      9806  ...  1.017861
96     10020  ... -0.487076
97     36657  ...  0.067790
98     36658  ... -0.288130
99     36955  ... -0.022599

[100 rows x 17 columns]

In [ ]:
df_users = pd.read_excel('/content/drive/MyDrive/CE888_Data Science and Decision Making/movies_latent_factors.xlsx', sheet_name='Users')
df_users.head()

   User   Factor1   Factor2   Factor3  ...  Factor12  Factor13  Factor14  Factor15
0  4768 -0.204024  0.161079 -0.090447  ...  0.355404  0.007108 -0.118663 -0.039125
1   156 -0.189652 -0.178979 -0.091490  ... -0.048606  0.045916  0.113671  0.179873
2  5323 -0.115308 -0.090886 -0.053129  ... -0.019460  0.108372  0.054471 -0.109552
3   174 -0.227462 -0.272532 -0.017231  ... -0.082396  0.036767 -0.165438  0.050692
4  4529 -0.014616 -0.102218 -0.107935  ... -0.132836 -0.039897  0.129063  0.102669

[5 rows x 16 columns]

In [249]:
# Question 5
df_items.loc[df_items['Movie ID']==602, 'Factor10']

49    0.413855
Name: Factor10, dtype: float64

In [250]:
# Question 6
df_items.iloc[:,2].sort_values()

50   -3.063639
33   -2.780308
27   -2.611462
59   -2.382739
16   -2.271110
        ...
68    2.263142
90    2.720287
85    2.723720
37    3.111997
86    4.023815
Name: Factor1, Length: 100, dtype: float64

In [252]:
# Question 6
df_items.loc[86, ['Movie ID', 'Title', 'Factor1']]

Movie ID                       4327
Title       Charlie's Angels (2000)
Factor1                     4.02381
Name: 86, dtype: object

In [238]:
# Question 7
df_users[df_users['User']==4327].iloc[:,1:].dot(df_items[df_items['Movie ID']==11].iloc[:,2:].T)

           0
21 -0.571045

In [240]:
# Question 8
df_users[df_users['User']==3878].iloc[:,1:].dot(df_items[df_items['Movie ID']==22].iloc[:,2:].T)

          4
6 -0.686052

In [ ]:
def movie_rating(user_id, title):
  user_features = df_users[df_users['User']==user_id].iloc[:,1:]
  item_features = df_items[df_items['Title']==title].iloc[:,2:]
  rating = user_features.dot(item_features.T)
  return rating

In [241]:
# Question 9
print(movie_rating(768, 'Pretty Woman (1990)'))
print(movie_rating(768, 'Spider-Man (2002)'))
print(movie_rating(768, 'Requiem for a Dream (2000)'))
print(movie_rating(768, 'The Lion King (1994)'))
print(movie_rating(768, 'The Sixth Sense (1999)'))
print(movie_rating(768, 'Titanic (1997)'))
print(movie_rating(768, 'Independence Day (a.k.a. ID4) (1996)'))

         13
7  0.099078
         42
7 -0.081488
         55
7 -0.032371
         91
7  0.095073
         60
7 -0.043964
        47
7  0.30038
         49
7  0.075782

In [247]:
# Question 10
print(movie_rating(3878, 'Back to the Future (1985)'))
print(movie_rating(3878, 'Mission: Impossible II (2000)'))
print(movie_rating(3878, 'The Rock (1996)'))
print(movie_rating(3878, 'Sin City (2005)'))
print(movie_rating(3878, 'Dumb & Dumber (1994)'))
print(movie_rating(3878, 'The Dark Knight (2008)'))
print(movie_rating(3878, 'X2: X-Men United (2003)'))

         11
6  0.928983
         72
6 -0.800315
         94
6 -0.084581
         24
6 -0.113857
         90
6  0.874465
         21
6  0.844621
         98
6 -0.555636